In [1]:
import numpy as np
import pandas as pd
import warnings

In [2]:
warnings.filterwarnings('ignore')

# Getting the Dataset

In [8]:
columns_name = ["user_id","item_id","rating","timestamp"]
df = pd.read_csv("/Users/varun/Desktop/ML & AI/ML_CodingBlocks/u.data" ,sep='\t',names=columns_name)

In [9]:
df.head()

   user_id  item_id  rating  timestamp
0      196      242       3  881250949
1      186      302       3  891717742
2       22      377       1  878887116
3      244       51       2  880606923
4      166      346       1  886397596

In [10]:
df.shape

(100000, 4)

In [12]:
df['user_id'].nunique()

943

In [13]:
df['item_id'].nunique()

1682

In [15]:

movies_title = pd.read_csv("/Users/varun/Desktop/ML & AI/ML_CodingBlocks/u.item",sep='\|',header= None)

In [17]:
movies_title.shape

(1682, 24)

In [18]:
movies_titles = movies_title[[0,1]]

In [20]:
movies_titles.columns = ["item_id","title"]

In [21]:
movies_titles.head()

   item_id              title
0        1   Toy Story (1995)
1        2   GoldenEye (1995)
2        3  Four Rooms (1995)
3        4  Get Shorty (1995)
4        5     Copycat (1995)

In [23]:
df = pd.merge(df,movies_titles,on="item_id")

In [25]:
df.head()

   user_id  item_id  rating  timestamp         title
0      196      242       3  881250949  Kolya (1996)
1       63      242       3  875747190  Kolya (1996)
2      226      242       5  883888671  Kolya (1996)
3      154      242       3  879138235  Kolya (1996)
4      306      242       5  876503793  Kolya (1996)

# Explarotary Data Analysis